/* CSS reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; } /* HTML5 display-role reset for older browsers */ article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; } body { line-height: 1; } ol, ul { list-style: none; } blockquote, q { quotes: none; } blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; } table { border-collapse: collapse; border-spacing: 0; }

body {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-size: 3em;
  font-weight: bold;
  padding: 50px 20px;
}

p {
  font-size: 2em;
  margin-bottom: 20px;
  padding: 20px;
}

button {
  font-size: 2em;
  font-weight: bold;
  margin-top: 50;
  margin-bottom: 50;
  padding: 10px 50px;
}

.prank {
  margin-top: 50;
  margin-bottom: 50;
  padding: 10px 50px;
}

body {
  background: black;
  color: white;
}

.center {
  margin: 0 auto;
  text-align: center;
}

.cover-image {
  width: 100%;
  position: relative;
}

.background {
  position: absolute;
  width: 100%;
  left: 0px;
  top: 0px;
}

.rebirth {
  z-index: 100;
}

.year {
  z-index: 101;
}

@-webkit-keyframes pulse {
  0%   { opacity: 0.1; }
  50%  { opacity: 0.2; }
  100% { opacity: 0.1; }
}
@-moz-keyframes pulse {
  0%   { opacity: 0.1; }
  50%  { opacity: 0.2; }
  100% { opacity: 0.1; }
}
@-o-keyframes pulse {
  0%   { opacity: 0.1; }
  50%  { opacity: 0.2; }
  100% { opacity: 0.1; }
}
@keyframes pulse {
  0%   { opacity: 0.1; }
  50%  { opacity: 0.2; }
  100% { opacity: 0.1; }
}

@-webkit-keyframes blur {
  0%   {
    -webkit-filter: blur(1px);
    filter: blur(1px);
  }
  50%  {
    -webkit-filter: blur(3px);
    filter: blur(3px);
  }
  100% {
    -webkit-filter: blur(1px);
    filter: blur(1px);
  }
}
@-moz-keyframes blur {
  0%   {
    -webkit-filter: blur(1px);
    filter: blur(1px);
  }
  50%  {
    -webkit-filter: blur(3px);
    filter: blur(3px);
  }
  100% {
    -webkit-filter: blur(1px);
    filter: blur(1px);
  }
}
@-o-keyframes blur {
  0%   {
    -webkit-filter: blur(1px);
    filter: blur(1px);
  }
  50%  {
    -webkit-filter: blur(3px);
    filter: blur(3px);
  }
  100% {
    -webkit-filter: blur(1px);
    filter: blur(1px);
  }
}
@keyframes blur {
  0%   {
    -webkit-filter: blur(1px);
    filter: blur(1px);
  }
  50%  {
    -webkit-filter: blur(3px);
    filter: blur(3px);
  }
  100% {
    -webkit-filter: blur(1px);
    filter: blur(1px);
  }
}

.animate-pulse {
  -webkit-animation: pulse 3s infinite; /* Safari 4+ */
  -moz-animation:    pulse 3s infinite; /* Fx 5+ */
  -o-animation:      pulse 3s infinite; /* Opera 12+ */
  animation:         pulse 3s infinite; /* IE 10+, Fx 29+ */
  animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;
}

.animate-blur {
  -webkit-animation: blur 3s infinite; /* Safari 4+ */
  -moz-animation:    blur 3s infinite; /* Fx 5+ */
  -o-animation:      blur 3s infinite; /* Opera 12+ */
  animation:         blur 3s infinite; /* IE 10+, Fx 29+ */
  animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;
}

.sparkley {
  background: #3e5871;
  color: white;
  border: none;
  padding: 16px 36px;
  font-weight: normal;
  border-radius: 3px;
  transition: all 0.25s ease;
  box-shadow: 0 38px 32px -23px black;
  margin: 0 1em 1em;
}
.sparkley:hover {
  background: #2c3e50;
  color: rgba(255, 255, 255, 0.2);
}
